/lask2/alphabeta/build/
/lask2/reittiopas/Reittiopas/target/
*.class
/lask3/Shakki/nbproject/private/
/lask3/Shakki/build/
/lask3/SpamHam/nbproject/private/
/lask3/SpamHam/build/
/lask3/Shakki/dist/
/lask4/Monikkogeneraattori/nbproject/private/
/lask4/Monikkogeneraattori/build/
/lask4/Monikkogeneraattori/dist/